.header , .container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inputField {
    padding: 10px;
    width: 40%;
    border: none;
}

.btn {
    padding: 20px;
    background: #fcb045;
    border: none;
}

body {
    background-image: url(latte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #CDF0EA;
}

.toDoAdd {
    list-style: none;
    background: #fcb045;
    height: 60px;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #CDF0EA;
}

.toDoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoCompleted {
    background: #833ab4 ;
    color: #000000;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 1s ease;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }
}